<% layout('/layout/boilerplate') -%>
<div class="row">
    <h1 class="text-center">New Activity</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="activity[title]" id="title" autofocus required>
                <div class="valid-feedback"> Looks good! </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="activity[location]" id="location" required>
                <div class="valid-feedback"> Looks good! </div>
            </div>
            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" name="activity[image]" id="image" required>
                <div class="valid-feedback"> Looks good! </div>
            </div> -->
            <div class="mb-3">
                <label class="form-label" for="image">Image</label>
                <input type="file" class="form-control" id="image" name="image" multiple>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" placeholder=0.00 aria-label="price"
                        aria-describedby="price-label" name="activity[price]" id="price" required>
                    <div class="valid-feedback"> Looks good! </div>
                </div>

            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" name="activity[description]" id="description" required></textarea>
                <div class="valid-feedback"> Looks good! </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
        <a href="/campgrounds">Cancel</a>
    </div>
</div>